doctype html
html
  head
    title=title
    link(rel='stylesheet', type='text/css', href='css/style.css')
  body
    .header
      block navigation
      block title
      p Welcome to the Todo app by @me.Please enjoy.
    .section
      block content
